.gitignore code:  
target/                                                                                                                                                                                                                                                              .gitignore code:                                                                                                                                                                                                                                                                   target/
.mvn/